[submodule "teeny-llvm/modules/llvm-project"]
	path = teeny-llvm/modules/llvm-project
	url = git@github.com:teenygrad/llvm-project.git
[submodule "teeny-llvm/modules/triton"]
	path = teeny-llvm/modules/triton
	url = git@github.com:teenygrad/triton.git
[submodule "teeny-onnx/onnx"]
	path = teeny-onnx/onnx
	url = git@github.com:onnx/onnx.git
