[submodule "teeny-llvm"]
	path = teeny-llvm
	url = git@github.com:teenygrad/teeny-llvm.git
[submodule "teeny-kernels"]
	path = teeny-kernels
	url = git@github.com:teenygrad/teeny-kernels.git
[submodule "teeny-triton"]
	path = teeny-triton
	url = git@github.com:teenygrad/teeny-triton.git
[submodule "teeny-macros"]
	path = teeny-macros
	url = git@github.com:teenygrad/teeny-macros.git
